.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.button {
  justifyContent: center;
  /* margin: 15px; */

  margin-bottom: 5px;
  margin-right: 15px;
  /* margin-left: 15px; */
}

.tripleButton {
  justifyContent: center;
  margin-bottom: 5px;
  margin-right: 10px;
  /* margin-left: 15px; */
}

.contact-list {
  padding-bottom: 30px;
}

.input {
  padding-left: 10px;
  margin-bottom: 10px;
}

.main-page{
  width:100%;
  background-color: #659DBD
}

.map {
  float: left;
  width: 60%;
  position: fixed;
  overflow-y: hidden;
}

.not-map {
  float: right;
  width: 30%;
  border-left: 10%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
